.nav-bar {
    display: flex;
    height: 100;
}

.navbar-left{
flex-basis: 20%;
background:rgb(217, 217, 221);
display: grid;
}

.navbar-left ul{
    float: left;
    padding: 35px 40px 10px 40px;
}

.navbar-left ul li{
    display: inline-block;
    list-style: none;
    margin-left: 40%;
}

.navbar-left ul li a {
    transition: all 200ms ease-in-out;
    color: rgb(109, 47, 47);
}

.navbar-left ul li a:hover {
color: blue;
}

.navbar-left ul li a:hover:before, .navbar-right ul li a:hover:after{
    opacity: 1;
    height: 3px;
    width: 100%;
}

.navbar-right{
flex-basis: 80%;
background:rgb(217, 217, 221);
display: grid;
}

.navbar-right ul{
    float: right;
    padding: 35px 40px 10px 40px;
}

.navbar-right ul li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.navbar-right ul li a {
    transition: all 200ms ease-in-out;
}

.navbar-right ul li a:hover {
color: blue;
}

.navbar-right ul li a:hover:before, .navbar-right ul li a:hover:after{
    opacity: 1;
    height: 2px;
    width: 100%;
}

a{
    color: rgb(104, 75, 75);
    text-decoration: none;
}
h1 {
    text-align: center;
    display: block;
}
.p{
    color: black;
}

img{
    border-radius: 55%;
    float: left;
    padding-right: 2em;
}

.area_expertise{
    float: left;
    padding: 15px 20px 10px 40px
}
.work_experience {
    float: right;
    padding: 35px 40px 10px 40px
}
.education{
    float: left;
    padding: 35px 40px 10px 40px
}
.interest{
    float: left;
    padding: 35px 40px 10px 40px
}
.references{
    float: left;
    padding: 35px 40px 10px 40px
}
footer{
    position: fixed;
    bottom: 0;
    margin-bottom:0;
    color: rgb(36, 16, 16);
    background-color: rgb(192, 179, 179);
    width: 100%;
    height: auto;
    float: right;
    text-align: left;
    font-size: 1.5em;
}


